In [1]:
import pandas as pd

NOV18, DEC18, JAN19, FEB19, MAR19 = 0, 1, 2, 3, 4

nov18f = "data/france/tsv/clickstream-frwiki-2018-11.tsv"
dec18f = "data/france/tsv/clickstream-frwiki-2018-12.tsv"
jan19f = "data/france/tsv/clickstream-frwiki-2019-01.tsv"
feb19f = "data/france/tsv/clickstream-frwiki-2019-02.tsv"
mar19f = "data/france/tsv/clickstream-frwiki-2019-03.tsv"

paths = [nov18f, dec18f, jan19f, feb19f, mar19f]

def explore_tsv(file):
    df = pd.read_csv(file, sep='\t', header=0)
    df.columns = ['from', 'article_title', 'type', 'count']
    return df

In [2]:
def top_x_searched_articles(df, x):
    df_search = df[df['from']=='other-search']
    dftop = df_search.sort_values(['count'], ascending=False)[:x]
    return dftop.T.loc[['article_title', 'count']].T

In [3]:
df = explore_tsv(paths[NOV18])
top_x_searched_articles(df, 20)

                                 article_title   count
3076673                        Freddie_Mercury  730379
3098707  La_Vérité_sur_l'affaire_Harry_Quebert  592669
573613                                Stan_Lee  388250
2028520                           Carlos_Ghosn  351895
1604407               Première_Guerre_mondiale  325652
3104783                            Victor_Hugo  321662
729877                                   Queen  304329
388318                 Black_Friday_(shopping)  271400
1545328                        Philippe_Pétain  245926
431696                       Armistice_de_1918  223836
2381902                     Angèle_(chanteuse)  218893
1119714                                 Mai_68  213560
241952                           Patrick_Bruel  205837
3533386          Harry_Potter_(série_de_films)  201455
107186               Thanksgiving_(États-Unis)  199155
882369             Mouvement_des_Gilets_jaunes  189854
1315899            Ligue_des_nations_de_l'UEFA  189005
1772158                      Message_d'Arecibo  185975
859861                           Dix_pour_cent  184538
1078169        Les_Animaux_fantastiques_(film)  184230

In [4]:
df = explore_tsv(paths[DEC18])
top_x_searched_articles(df, 20)

                                 article_title   count
451723             Mouvement_des_Gilets_jaunes  356218
189325                         Freddie_Mercury  269269
1441504  La_Vérité_sur_l'affaire_Harry_Quebert  268130
2886733                        Emmanuel_Macron  262944
2075603                                 Mai_68  262693
3034361                            Miss_France  221649
525649                                    Noël  219497
456186              Affaire_Dupont_de_Ligonnès  219316
1640529                      Alexandre_Benalla  203065
1685359                           Maria_Pacôme  201234
2970122                    Christophe_Castaner  180895
1253866                          Bigflo_et_Oli  179712
2306743                       Miss_France_2019  170748
2545513                                Jenifer  163328
2908732                            Jason_Momoa  156276
278695                    Saint-Nicolas_(fête)  153864
1753164                              Père_Noël  149111
950659      Impôt_de_solidarité_sur_la_fortune  148980
2110339                        Bird_Box_(film)  147601
1486209                            Ballon_d'or  146974

In [5]:
df = explore_tsv(paths[JAN19])
top_x_searched_articles(df, 20)

                                          article_title   count
3733376                                   Emiliano_Sala  767670
2421558                                   Bilal_Hassani  387874
2596381  Championnat_du_monde_masculin_de_handball_2019  372017
3453619                            Christophe_Dettinger  365050
3675078                                     Che_Guevara  359355
1112483                                  Michel_Legrand  334734
1595325                                 Freddie_Mercury  332669
1151593                           You_(série_télévisée)  318855
3582825                                   Sex_Education  257460
282163                                 Marlène_Schiappa  250222
1988729                               Signe_du_zodiaque  228247
3272315                                 Chantal_Jouanno  220060
2290032                  Titans_(série_télévisée,_2018)  206656
2539614                                    Glass_(film)  191005
432906                                     Carlos_Ghosn  186812
168061                                 Galette_des_rois  181636
650382                                Alexandre_Benalla  177397
2357707                     A_Star_Is_Born_(film,_2018)  174810
2484090                            Francesca_Antoniotti  167521
1407195                                       Lady_Gaga  164855

In [6]:
df = explore_tsv(paths[FEB19])
top_x_searched_articles(df, 20)

                              article_title    count
3258280                      Karl_Lagerfeld  1031709
3401427                       Emiliano_Sala   406180
2130420                     Freddie_Mercury   337720
988568   Umbrella_Academy_(série_télévisée)   310754
2548294                      Saint-Valentin   286882
2261855                  Jacques_de_Bascher   285902
637832                            Lady_Gaga   224550
1890953                   Signe_du_zodiaque   219558
959934                   Alain_Finkielkraut   214118
2755689                      Bradley_Cooper   198697
146777          A_Star_Is_Born_(film,_2018)   197208
98418                         Élodie_Fontan   181785
2764373                            Sionisme   180948
724210                         Julien_Clerc   176762
1584827                          Chandeleur   176249
1611135                    Philippe_Lacheau   170565
1279385  Green_Book_:_Sur_les_routes_du_sud   169725
151858                        Kylian_Mbappé   162693
2492502                    Umbrella_Academy   160755
3279434                 Alita:_Battle_Angel   152800

In [7]:
df = explore_tsv(paths[MAR19])
top_x_searched_articles(df, 20)

                                            article_title   count
1754249                                        Luke_Perry  527085
411306                                    Freddie_Mercury  320180
1275146                                          Moldavie  271502
2108068                                       Agnès_Varda  243420
724035                                       PNL_(groupe)  239899
2451293                                 Signe_du_zodiaque  233757
1130964                              Abdelaziz_Bouteflika  229428
210083                                  Cristiano_Ronaldo  229421
1820121                                 Franck_Gastambide  225904
2748443                                     Kylian_Mbappé  213001
1040251  Les_Bracelets_rouges_(série_télévisée_française)  212734
1168595                                Raphaël_Glucksmann  212423
531317                                       Lionel_Messi  196571
672174                                            Jenifer  190477
3534870                Umbrella_Academy_(série_télévisée)  188480
3557841                                    Boeing_737_MAX  188121
1292248                                         Lady_Gaga  185909
1454667                               Christophe_Castaner  183358
606120                              Captain_Marvel_(film)  179927
3289054                                  Nouvelle-Zélande  179041