In [1]:
from explore import explore_tsv, months, paths, top_from_search, top_articles

In [2]:
f = paths[3]
              
df = explore_tsv(f)
top_from_search(df)[:25]

                                          n
curr
Karl_Lagerfeld                      1031709
Emiliano_Sala                        406180
Freddie_Mercury                      337720
Umbrella_Academy_(série_télévisée)   310754
Saint-Valentin                       286882
Jacques_de_Bascher                   285902
Lady_Gaga                            224550
Signe_du_zodiaque                    219558
Alain_Finkielkraut                   214118
Bradley_Cooper                       198697
A_Star_Is_Born_(film,_2018)          197208
Élodie_Fontan                        181785
Sionisme                             180948
Julien_Clerc                         176762
Chandeleur                           176249
Philippe_Lacheau                     170565
Green_Book_:_Sur_les_routes_du_sud   169725
Kylian_Mbappé                        162693
Umbrella_Academy                     160755
Alita:_Battle_Angel                  152800
Bigflo_et_Oli                        145847
Lionel_Messi                         145051
Rami_Malek                           144541
Angèle_(chanteuse)                   143383
Sex_Education                        142266

In [3]:
top_articles(df)[:25]

                                          n
curr
Karl_Lagerfeld                      1326754
-                                   1061439
France                               764103
Jacques_de_Bascher                   500543
Emiliano_Sala                        495954
Freddie_Mercury                      446538
Kayden_Boche                         436904
Umbrella_Academy_(série_télévisée)   369403
Saint-Valentin                       344519
Élodie_Fontan                        323776
Bradley_Cooper                       285981
Lady_Gaga                            280846
Comptabilité                         272065
Alain_Finkielkraut                   266700
Signe_du_zodiaque                    251006
Sionisme                             249242
A_Star_Is_Born_(film,_2018)          234675
Philippe_Lacheau                     224449
Julien_Clerc                         219259
Chandeleur                           217374
Lionel_Messi                         215208
Kylian_Mbappé                        210722
Cristiano_Ronaldo                    204371
Green_Book_:_Sur_les_routes_du_sud   200639
Umbrella_Academy                     199370