In [1]:
from explore import explore_tsv, months, paths, top_from_search, top_articles

In [2]:
f = paths[4]
              
df = explore_tsv(f)
top_from_search(df)[:25]

                                                       n
curr
Luke_Perry                                        527085
Freddie_Mercury                                   320180
Moldavie                                          271502
Agnès_Varda                                       243420
PNL_(groupe)                                      239899
Signe_du_zodiaque                                 233757
Abdelaziz_Bouteflika                              229428
Cristiano_Ronaldo                                 229421
Franck_Gastambide                                 225904
Kylian_Mbappé                                     213001
Les_Bracelets_rouges_(série_télévisée_française)  212734
Raphaël_Glucksmann                                212423
Lionel_Messi                                      196571
Jenifer                                           190477
Umbrella_Academy_(série_télévisée)                188480
Boeing_737_MAX                                    188121
Lady_Gaga                                         185909
Christophe_Castaner                               183358
Captain_Marvel_(film)                             179927
Nouvelle-Zélande                                  179041
Michael_Jackson                                   167245
Game_of_Thrones                                   162329
Ligue_des_champions_de_l'UEFA                     155615
A_Star_Is_Born_(film,_2018)                       155162
Zinédine_Zidane                                   154044

In [3]:
top_articles(df)[:25]

                                                        n
curr
-                                                 1093233
Luke_Perry                                         695812
France                                             599467
Kayden_Boche                                       457675
Freddie_Mercury                                    431682
Moldavie                                           347422
Cristiano_Ronaldo                                  329485
Agnès_Varda                                        309647
Franck_Gastambide                                  301167
Abdelaziz_Bouteflika                               292127
Comptabilité                                       286191
Lionel_Messi                                       285760
Signe_du_zodiaque                                  267697
Kylian_Mbappé                                      267416
Raphaël_Glucksmann                                 266199
PNL_(groupe)                                       265315
W9                                                 262455
Accueil                                            247538
Les_Bracelets_rouges_(série_télévisée_française)   247394
Lady_Gaga                                          238982
Nouvelle-Zélande                                   235588
Boeing_737_MAX                                     233469
Umbrella_Academy_(série_télévisée)                 229878
Christophe_Castaner                                227564
Ligue_des_champions_de_l'UEFA                      226437